.leaderboard-child {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #6441a5, #2a0845);
  width: 24.38rem;
  height: 52.75rem;
}
.leaderboard-item,
.mask-group-icon {
  position: absolute;
  top: -6.5rem;
  left: -2.81rem;
  width: 30rem;
  height: 28.38rem;
}
.mask-group-icon {
  top: -5.87rem;
}
.leaderboards,
.october-13- {
  position: absolute;
  line-height: 1.31rem;
}
.leaderboards {
  top: 0;
  left: 0;
  letter-spacing: 0.03em;
  font-weight: 600;
}
.october-13- {
  top: 1.31rem;
  left: 0.19rem;
  font-size: var(--font-size-smi);
}
.iconoirleaderboard-star {
  position: absolute;
  top: -1.81rem;
  left: 3.5rem;
  width: 1.5rem;
  height: 1.5rem;
  display: none;
}
.title {
  position: absolute;
  top: 2.81rem;
  left: 7.88rem;
  width: 8.38rem;
  height: 2.63rem;
  text-align: center;
  font-size: 1.13rem;
  color: var(--color-white);
}
.leaderboard-inner,
.row-child {
  background-color: var(--color-white);
}
.leaderboard-inner {
  position: absolute;
  top: 19.13rem;
  left: 1.25rem;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  width: 21.88rem;
  height: 32.5rem;
}
.row-child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 1px 0#e8e8e8;
}
.div,
.row-child,
.sarah-g {
  position: absolute;
}
.div {
  top: 28.57%;
  left: 80.92%;
  line-height: 1.31rem;
  font-weight: 600;
  color: var(--color-darkslateblue-100);
}
.sarah-g {
  top: 35.71%;
  left: 32.22%;
  line-height: 0.81rem;
  text-align: left;
}
.row-item,
.star-child {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.row-item {
  height: 75%;
  width: 13.62%;
  top: 10.71%;
  right: 71.24%;
  bottom: 14.29%;
  left: 15.14%;
  border-radius: var(--br-xs);
  object-fit: cover;
}
.star-child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xs);
}
.div1 {
  position: absolute;
  top: 31.25%;
  left: 36.7%;
  line-height: 0.75rem;
  font-weight: 600;
}
.star {
  height: 57.14%;
  width: 10.38%;
  top: 19.64%;
  right: 88.03%;
  bottom: 23.21%;
  left: 1.59%;
  text-align: center;
  font-size: var(--font-size-3xs);
}
.div2,
.row,
.star {
  position: absolute;
}
.row {
  top: 23.75rem;
  left: 2.31rem;
  width: 19.69rem;
  height: 3.5rem;
}
.div2 {
  top: 28.57%;
  left: 81.24%;
  line-height: 1.31rem;
  font-weight: 600;
  color: var(--color-darkslateblue-100);
}
.row1 {
  top: 27.56rem;
  left: 2.31rem;
  width: 19.69rem;
  height: 3.5rem;
}
.div4,
.row1,
.row2 {
  position: absolute;
}
.div4 {
  top: 28.57%;
  left: 81.56%;
  line-height: 1.31rem;
  font-weight: 600;
  color: var(--color-darkslateblue-100);
}
.row2 {
  top: 31.38rem;
  left: 2.31rem;
  width: 19.69rem;
  height: 3.5rem;
}
.div6 {
  top: 28.57%;
  left: 82.19%;
  line-height: 1.31rem;
  font-weight: 600;
  color: var(--color-darkslateblue-100);
}
.div6,
.div8,
.row3 {
  position: absolute;
}
.row3 {
  top: 35.19rem;
  left: 2.31rem;
  width: 19.69rem;
  height: 3.5rem;
}
.div8 {
  top: 28.57%;
  left: 83.78%;
  line-height: 1.31rem;
  font-weight: 600;
  color: var(--color-darkslateblue-100);
}
.row4 {
  top: 39rem;
  left: 2.31rem;
  width: 19.69rem;
  height: 3.5rem;
}
.div10,
.row4,
.row5 {
  position: absolute;
}
.div10 {
  top: 28.57%;
  left: 83.46%;
  line-height: 1.31rem;
  font-weight: 600;
  color: var(--color-darkslateblue-100);
}
.row5 {
  top: 42.81rem;
  left: 2.31rem;
  width: 19.69rem;
  height: 3.5rem;
}
.div12,
.div13 {
  font-weight: 600;
}
.div12 {
  position: absolute;
  top: 28.57%;
  left: 82.51%;
  line-height: 1.31rem;
  color: var(--color-darkslateblue-100);
}
.div13 {
  top: 31.25%;
  left: 30.58%;
  line-height: 0.75rem;
}
.child,
.div13,
.row6 {
  position: absolute;
}
.row6 {
  top: 46.63rem;
  left: 2.31rem;
  width: 19.69rem;
  height: 3.5rem;
}
.child {
  top: 1.56rem;
  left: 0;
  border-radius: var(--br-5xs);
  width: 7.81rem;
  height: 7.81rem;
  object-fit: cover;
}
.div15,
.jessica-j {
  line-height: 1.31rem;
}
.div15 {
  position: absolute;
  top: 10.38rem;
  left: 2.31rem;
  font-weight: 600;
}
.jessica-j {
  top: 9.38rem;
  left: 1.69rem;
  letter-spacing: 0.03em;
  color: var(--color-white);
}
.b,
.jessica-j,
.star-child4 {
  position: absolute;
}
.star-child4 {
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  width: 3.44rem;
  height: 3.44rem;
}
.b {
  top: 1.19rem;
  left: 1.5rem;
  letter-spacing: 0.05em;
  line-height: 1rem;
}
.star7 {
  top: 0;
  left: 2.19rem;
  width: 3.44rem;
  height: 3.44rem;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.div14,
.item,
.star7 {
  position: absolute;
}
.div14 {
  top: 0;
  left: 5.94rem;
  width: 7.81rem;
  height: 11.69rem;
}
.item {
  top: 1.56rem;
  left: 0;
  border-radius: var(--br-5xs);
  width: 5.94rem;
  height: 5.94rem;
  object-fit: cover;
}
.brad-t {
  top: 7.5rem;
  left: 1.38rem;
  letter-spacing: 0.03em;
  line-height: 1.31rem;
}
.b1,
.brad-t,
.inner {
  position: absolute;
}
.inner {
  top: 0;
  left: 1.25rem;
  border-radius: var(--br-9xs);
  width: 3.44rem;
  height: 3.44rem;
}
.b1 {
  top: 1.19rem;
  left: 2.69rem;
  font-size: var(--font-size-base);
  letter-spacing: 0.05em;
  line-height: 1rem;
  color: var(--color-black);
}
.div17 {
  top: 8.5rem;
  left: 1.25rem;
  line-height: 1.31rem;
  font-weight: 600;
  color: var(--color-orange);
}
.b2,
.div16,
.div17 {
  position: absolute;
}
.div16 {
  top: 3rem;
  left: 13.75rem;
  width: 5.94rem;
  height: 9.81rem;
  color: var(--color-white);
}
.b2 {
  top: 1.19rem;
  left: 2.63rem;
  font-size: var(--font-size-base);
  letter-spacing: 0.05em;
  line-height: 1rem;
}
.andrew-b,
.div19 {
  line-height: 1.31rem;
}
.andrew-b {
  position: absolute;
  top: 7.5rem;
  left: 0.69rem;
  letter-spacing: 0.03em;
  color: var(--color-white);
}
.div19 {
  top: 8.5rem;
  left: 1.44rem;
  font-weight: 600;
  color: var(--color-orange);
}
.div18,
.div19,
.winners {
  position: absolute;
}
.div18 {
  top: 3rem;
  left: 0;
  width: 5.94rem;
  height: 9.81rem;
  color: var(--color-black);
}
.winners {
  top: 5.5rem;
  left: 2.31rem;
  width: 19.69rem;
  height: 12.81rem;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-orange);
}
.fluentballoon-16-regular-icon,
.vsparty-icon {
  position: absolute;
  top: 4.75rem;
  left: 2.5rem;
  width: 3.44rem;
  height: 3.13rem;
}
.fluentballoon-16-regular-icon {
  top: 5.19rem;
  left: 19.25rem;
  width: 3.13rem;
}
.selected-child,
.tab-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: #55378d;
  width: 19.69rem;
  height: 2.5rem;
}
.selected-child {
  background-color: #805ac6;
  width: 6.88rem;
  height: 2.13rem;
}
.this-week {
  position: absolute;
  top: 0.44rem;
  left: 2rem;
  line-height: 1.31rem;
  font-weight: 500;
}
.mdichess-queen-icon,
.selected {
  position: absolute;
  top: 0.63rem;
  left: 0.81rem;
  width: 0.88rem;
  height: 0.88rem;
}
.selected {
  top: 0.19rem;
  left: 6.19rem;
  width: 6.88rem;
  height: 2.13rem;
}
.ll {
  letter-spacing: 0.01em;
}
.all {
  position: absolute;
  top: 0;
  left: 1.19rem;
  line-height: 1.31rem;
  font-weight: 500;
}
.mdichess-queen-icon1 {
  position: absolute;
  top: 0.19rem;
  left: 0;
  width: 0.88rem;
  height: 0.88rem;
}
.tab,
.tab-item,
.tab-item1 {
  position: absolute;
  top: 0.63rem;
  left: 1.81rem;
  width: 2.13rem;
  height: 1.31rem;
}
.tab,
.tab-item1 {
  left: 14.13rem;
  width: 3.94rem;
}
.tab {
  top: 20.5rem;
  left: 2.31rem;
  width: 19.69rem;
  height: 2.5rem;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.twemojiparty-popper-icon {
  position: absolute;
  top: 6.56rem;
  left: 14rem;
  width: 2.25rem;
  height: 2.25rem;
}
.leaderboard {
  width: 100%;
  position: relative;
  border-radius: 30px;
  background: linear-gradient(90deg, #bf5ae0, #a811da);
  height: 52.75rem;
  overflow: hidden;
  text-align: right;
  font-size: var(--font-size-smi);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
